In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("C:/Users/LL/Desktop/RPI/24_Spring/AMLF/project_1_paper_replica/Factors_and_Stock_returns.csv")

In [4]:
data.head(10)

,Date,permno,return,mom1m,mom12m,chmom,indmom,mom36m,turn,mvel1,...,baspread,retvol,idiovol,beta,betasq,ep,sp,agr,nincr,return (t-1)
0,2001-01-31,10001,0.017570,0.032680,0.176284,0.281788,0.180223,0.049795,0.171604,2.435550e+04,...,0.020711,0.017710,0.025411,0.037079,0.001375,0.065505,3.646263,-0.168504,2.0,NaN
1,2001-01-31,10002,0.109518,0.057651,-0.255353,0.050021,0.007072,-0.219112,0.098913,7.833262e+04,...,0.033991,0.054790,0.050269,0.206348,0.042579,0.064083,0.428502,-0.105212,5.0,NaN
2,2001-01-31,10032,0.565408,-0.249614,0.840909,-2.030295,-0.106738,1.957983,5.076598,1.248052e+06,...,0.147318,0.124582,0.074976,1.649367,2.720410,0.037801,0.916433,-0.598413,3.0,NaN
3,2001-01-31,10035,0.769706,-0.135135,-0.627517,0.438324,-0.284315,0.221311,0.802758,6.860100e+04,...,0.122932,0.068806,0.142223,1.100060,1.210132,-0.314053,7.313562,0.098733,1.0,NaN
4,2001-01-31,10037,0.063908,0.309859,-0.041992,0.627854,0.007072,-0.416587,0.967258,4.130362e+04,...,0.048171,0.037468,0.050153,0.495821,0.245839,0.088070,1.215694,-0.026594,0.0,NaN
5,2001-01-31,10039,-0.357512,0.088435,-0.319444,0.514031,-0.143603,4.400000,0.183401,1.083600e+05,...,0.099772,0.085365,0.088166,0.713928,0.509694,-0.092538,0.060680,-0.011396,0.0,NaN
6,2001-01-31,10042,-0.044989,0.000000,-0.200000,0.442857,-0.411116,-0.722222,0.470148,1.162400e+04,...,0.089909,0.055007,0.247769,0.125989,0.015873,0.014039,2.126887,0.129971,1.0,NaN
7,2001-01-31,10044,0.396115,0.057692,-0.380952,-0.181078,0.069669,-0.045455,0.345912,6.740938e+03,...,0.065821,0.074730,0.093895,0.031090,0.000967,0.098403,2.294558,0.118593,1.0,NaN
8,2001-01-31,10051,0.100601,-0.382353,-0.787500,-0.227927,0.252455,-0.223301,1.623903,2.481938e+04,...,0.157790,0.109336,0.092183,0.675689,0.456556,0.058096,1.834088,-2.642089,1.0,NaN
9,2001-01-31,10056,0.094808,0.056250,-0.199452,0.276099,0.007072,0.060821,0.249256,4.849244e+04,...,0.044783,0.039639,0.050346,0.403025,0.162429,0.109293,0.734781,-0.114891,NaN,NaN

## exploring

In [5]:
len(data)

# downsample by selecting 500 companies

891616

In [6]:
len(data.columns)

# minus date, id, return, we have: 20 features in total

23

In [7]:
data.columns

# permno: Permanent Company Identifier

Index(['Date', 'permno', 'return', 'mom1m', 'mom12m', 'chmom', 'indmom',
       'mom36m', 'turn', 'mvel1', 'dolvol', 'ill', 'zerotrade', 'baspread',
       'retvol', 'idiovol', 'beta', 'betasq', 'ep', 'sp', 'agr', 'nincr',
       'return (t-1)'],
      dtype='object')

In [8]:
data.dtypes

# look at datatype of each columns

Date             object
permno            int64
return          float64
mom1m           float64
mom12m          float64
chmom           float64
indmom          float64
mom36m          float64
turn            float64
mvel1           float64
dolvol          float64
ill             float64
zerotrade       float64
baspread        float64
retvol          float64
idiovol         float64
beta            float64
betasq          float64
ep              float64
sp              float64
agr             float64
nincr           float64
return (t-1)    float64
dtype: object

In [9]:
data['return (t-1)'].isna().value_counts()

# 10346 missing return values
# my guess: the first term of every company's return(t-1) are missing
# also about the missing return t-1 value: did they just drop it or did something else?

return (t-1)
False    881270
True      10346
Name: count, dtype: int64

In [10]:
# it has space in it ew

data = data.rename(columns={'return (t-1)': 'return(t-1)'})

In [11]:
data.columns

Index(['Date', 'permno', 'return', 'mom1m', 'mom12m', 'chmom', 'indmom',
       'mom36m', 'turn', 'mvel1', 'dolvol', 'ill', 'zerotrade', 'baspread',
       'retvol', 'idiovol', 'beta', 'betasq', 'ep', 'sp', 'agr', 'nincr',
       'return(t-1)'],
      dtype='object')

In [12]:
data['return'].isna().value_counts()

# no missing values

return
False    891616
Name: count, dtype: int64

In [13]:
gy_ = data.groupby(['permno'])
print(gy_.size())

# 9420 companies - choose about 500 - which ones?
# the old ones?
# accross different industry?

permno
10001    199
10002    145
10032    228
10035     35
10037     41
        ...
93432     11
93433     77
93434    114
93435     22
93436    114
Length: 9420, dtype: int64

In [14]:
gy = data.groupby(['Date'])
print(gy.size())

# monthly data (end of each month) from 2001 to 2019

Date
2001-01-31    5679
2001-02-28    5629
2001-03-31    5581
2001-04-30    5517
2001-05-31    5437
              ...
2019-08-31    3387
2019-09-30    3371
2019-10-31    3368
2019-11-30    3371
2019-12-31    3361
Length: 228, dtype: int64

## down-sampling

In [15]:
# sort company record by number of rows, desc,
gpsize = gy_.size()
gpsize = pd.DataFrame(gpsize).sort_values(by=[0], ascending=False)

In [16]:
# index of 500 companies that has the most records, to a list
permno = gpsize.iloc[:500].index.tolist()

In [17]:
# select rows of certain companies (228 per company)
mask = data['permno'].isin(permno)
ds_data = data[mask]

# reset index
df = ds_data.reset_index(drop=True)

In [18]:
df

,Date,permno,return,mom1m,mom12m,chmom,indmom,mom36m,turn,mvel1,...,baspread,retvol,idiovol,beta,betasq,ep,sp,agr,nincr,return(t-1)
0,2001-01-31,13610,-0.202242,0.277978,-0.082232,0.518490,0.198455,-0.258322,0.820391,9.897840e+05,...,0.037278,0.032888,0.056769,0.398706,0.158967,0.019041,1.472909,0.325935,5.0,NaN
1,2001-01-31,13856,-0.112756,0.095372,0.300233,-0.147620,0.069669,0.000718,0.660636,7.152231e+07,...,0.033983,0.022389,0.042020,0.106574,0.011358,0.039970,0.397105,0.225463,1.0,NaN
2,2001-01-31,13901,0.010566,0.166088,0.759861,0.504130,0.400659,-0.440929,0.775189,9.783550e+07,...,0.032844,0.023475,0.050243,0.088382,0.007811,0.142695,1.148088,-0.024383,2.0,NaN
3,2001-01-31,13928,0.033114,0.006637,0.236486,0.039925,0.400659,0.025686,0.813903,1.451888e+07,...,0.035964,0.023917,0.037427,0.159983,0.025595,0.051091,1.138525,-0.069288,1.0,NaN
4,2001-01-31,13936,0.014335,0.009709,0.574141,0.224657,-0.075486,-0.397110,0.755288,3.550430e+05,...,0.031413,0.030343,0.068491,1.060490,1.124640,0.091598,6.902488,0.000838,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113995,2019-12-31,89279,0.068549,0.022262,-0.236642,0.309464,0.017132,0.077255,0.183810,1.518566e+05,...,0.029590,0.026830,0.034354,1.050948,1.104491,0.033155,0.194098,-0.079785,1.0,0.028779
113996,2019-12-31,89317,0.151911,0.091947,-0.126316,0.489858,-0.038235,2.713991,0.033456,3.002479e+05,...,0.020594,0.023470,0.085074,1.678081,2.815955,0.351092,0.558447,0.343410,0.0,0.093335
113997,2019-12-31,89456,0.113534,0.055877,0.224802,0.739165,0.117765,-0.521761,0.552710,1.417556e+05,...,0.033668,0.021730,0.057302,1.180075,1.392576,-0.142710,2.497826,0.105824,1.0,0.059203
113998,2019-12-31,89790,0.006368,-0.085320,0.102351,-0.115639,-0.365754,0.225424,0.874786,1.765696e+06,...,0.045559,0.027430,0.097094,1.808191,3.269556,-0.075181,0.006150,-0.475846,0.0,-0.081821
113999,2019-12-31,89915,0.049087,-0.038920,0.461668,0.251999,0.060092,0.522001,0.903674,1.781062e+06,...,0.023036,0.013151,0.032894,0.981191,0.962737,0.063786,0.400301,-0.060515,0.0,-0.038024

In [19]:
df['return(t-1)'].isna().value_counts()
# assumption proven: only missing the first term 500 points, not so bad

df.isna().sum()
# the worst one: nincr has 2794 missing values

Date              0
permno            0
return            0
mom1m             3
mom12m          269
chmom           269
indmom            0
mom36m         1566
turn              9
mvel1             0
dolvol            6
ill               0
zerotrade         0
baspread          0
retvol            0
idiovol         352
beta            352
betasq          352
ep              473
sp              473
agr            1026
nincr          2794
return(t-1)     500
dtype: int64

In [20]:
df.describe()

,permno,return,mom1m,mom12m,chmom,indmom,mom36m,turn,mvel1,dolvol,...,baspread,retvol,idiovol,beta,betasq,ep,sp,agr,nincr,return(t-1)
count,114000.000000,114000.000000,113997.000000,113731.000000,113731.000000,114000.000000,112434.000000,113991.000000,1.140000e+05,113994.000000,...,114000.000000,114000.000000,113648.000000,113648.000000,1.136480e+05,113527.000000,113527.000000,112974.000000,111206.000000,113500.000000
mean,72876.624000,0.015333,0.012049,0.136373,-0.000045,0.113613,0.334989,1.638056,6.582357e+06,13.470213,...,0.037117,0.026409,0.054966,1.087905,1.557927e+00,-0.022976,1.490212,-0.108700,0.956765,0.015235
std,23035.597832,0.137916,0.128654,0.516269,0.504998,0.283928,0.923307,1.772122,2.315488e+07,2.734459,...,0.024014,0.018837,0.032225,0.611200,1.706682e+00,0.380527,2.506065,0.322642,1.250203,0.137888
min,13610.000000,-1.648954,-0.680233,-0.968440,-5.458539,-0.646603,-0.985455,0.004205,8.420000e+02,0.482426,...,0.001604,0.001967,0.013163,-0.308570,3.613716e-09,-8.194066,0.000000,-5.442499,0.000000,-1.648954
25%,77694.000000,-0.045200,-0.051019,-0.132136,-0.228061,-0.051579,-0.166296,0.562523,1.673948e+05,11.561165,...,0.021628,0.014467,0.032506,0.656859,4.320435e-01,0.012131,0.362826,-0.151845,0.000000,-0.045367
50%,80395.000000,0.012859,0.007937,0.081072,-0.006010,0.098980,0.182473,1.155010,7.050966e+05,13.773265,...,0.030209,0.021021,0.046180,1.026474,1.054077e+00,0.046183,0.717824,-0.057225,1.000000,0.012759
75%,85420.250000,0.072001,0.067919,0.309106,0.212807,0.243403,0.583925,2.081987,2.662082e+06,15.489891,...,0.044944,0.032037,0.067580,1.419450,2.014889e+00,0.068617,1.549838,0.017413,1.000000,0.072070
max,89915.000000,5.672771,1.637931,7.025001,6.206295,2.669484,14.513888,32.126617,3.939826e+08,18.890110,...,0.340703,0.260184,0.262342,3.887420,1.511203e+01,0.475207,33.751426,0.701392,8.000000,5.672771

In [21]:
# how did they handle missing values?
# responses - the way of aggregating prediction results?